[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=/home/pi/ScratchMIDI/ScratchMIDI.sh
Icon=scratch
Terminal=false
Name=Scratch MIDI
Comment=Control MIDI(Timidity) from Scratch 
Categories=Application;Education;Development;
MimeType=application/x-scratch-project
